<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SkyTree</title>

    <style>
        #top {
            background: linear-gradient(to right, green, white);
            height: 20%;
            width: 100%;
            padding-top: 8px;
            padding-bottom: 8px;
        }

        #bottom {
            background: linear-gradient(to left, lightgrey, whitesmoke);
            width: 100%;
            height: 5%;
            padding-top: 2px;
            padding-bottom: 2px;
        }

        h1, p, #centre {
            text-align: center;
        }
    </style>
</head>

<body>
<div th:replace="base :: top"></div>

<div id="centre">
    <h1>Posts</h1>

    <div th:each="user : ${users}">
        <div th:each="post : ${user.posts}">
            <h2 th:text="${post.title}"></h2>
            <p th:inline="text">[[${post.response}]]</p>
            <hr>
        </div>
    </div>
</div>

<div th:replace="base :: bottom"></div>
</body>
</html>